form * {
  margin: 0.2rem;
  padding: 0.2rem;
}
form {
  padding: 0.5rem;
  border: 1px solid rosybrown;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

input[type="text"],
textarea {
  border: medium solid rosybrown;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1;
  background-color: white;
  font-family: inherit;
}

/* input[type="text"],
input[type="number"],
:empty {
  border: medium solid rosybrown;
} */

button,
input[type="submit"],
input[type="reset"] {
  border: medium solid rosybrown;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
}

hr {
  margin: 2rem auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}

.divForm {
  padding-top: 10px;
}

select,
input[type="radio"] {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-color: white;
  border: medium solid rosybrown;
  font-family: inherit;
}

input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-color: transparent;
  border: medium solid rosybrown;
  box-shadow: 0 0 10px hotpink;
}

input[type="checkbox"]:hover {
  transition: 1s;
  transform: rotate(360deg);
}

input[type="submit"],
input[type="reset"] {
  width: 20%;
  height: 30px;
  display: inline-block;
}
input[type="date"],
input[type="number"] {
  display: block;
  border: medium solid rosybrown;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}
input[type="submit"] {
  margin-left: 30%;
}

.damaged {
  color: red;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  max-width: 100%;
  font-size: 5rem;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  max-width: 100%;
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  color: var(--primary-color);
}

h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  color: var(--primary-color);
}
p {
  text-align: justify;
  font-size: 1rem;
  overflow: auto;
  color: var(--primary-color);
}
.sonAssets2 {
  color: red;
}
